{% extends 'base.html' %} 
{% load static %} 
{% block title %} {% endblock %} 
{% block css %} {% endblock %} 
{% block content %}
    <div class="register-content">
        <div class="register-content__form-register">
            <form action="" method="POST" class="form" id="form-1">
                <h3 class="heading">Welcome to DEV Community</h3>
                <div class="spacer"></div>
                <div class="form-group">
                    <label for="fullname" class="form-label">User name</label>
                    <input id="fullname" name="fullname" type="text" class="form-control" required>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="email" class="form-control" required>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" name="password" type="password" class="form-control" required>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="password_confirmation" class="form-label">Confirm password</label>
                    <input id="password_confirmation" name="password_confirmation" type="password" class="form-control" required>
                    <span class="form-message"></span>
                </div>
                <input type="submit" class="form-submit" value="Register"></input>
            </form>
        </div>
    </div>
{% endblock %}